@font-face{
  font-family:'cherry-cream-soda';
  font-family:'the-juke-box-ffp';
  src: url('CherryCreamSoda.ttf');
  src: url('The_Juke_Box-FFP.ttf');
}
html {
  background-color: #FE696F;
  background: linear-gradient(to bottom right, #FB443F,#C70039  );
  text-align: center;
  min-width: 350px;
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 4px;
}

h1 {
  font-family:'the-juke-box-ffp';
  text-shadow:  2px 2px white;
  font-size: 6em;
  font-weight: lighter;
  padding-top: 20px;
  margin: 0px 10px;
  color: black;
}

.container {
  padding: 0px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#pomodoro {
  margin: 0 auto;
  position: relative;
  padding: 2%;
}

.timerDisplay {
  color: black;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  margin: 10px;
  padding: 8px 10px;
  color: black;
  font-size: 1em;
  cursor:pointer;
  border: 2px solid white;
}

#start-btn {
  height: 40px;
  width: 90px;
  border-radius: 20px;
  position: absolute;
  bottom: 8%;
  left: 48%;
  transform: translate(-45%, -50%);
  background: #56BC07;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

.btn-settings {
  background-color: #C70039;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px 5px;
  min-width: 40px;
  color: black;
  font-size: 2em;
  cursor:pointer;
}

.settings {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

#reset {
  border-radius: 50px;
  width: 80px;
  height: 80px;
  background: #02A2D9  ;
  transform: translate(20%, 32%);
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

#work, #break {
  color: black  ;
  font-weight: bold;
}

#work p, #break p {
  color: black  ;
  padding: 5px;
}

.footer {
  padding: 20px 0;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #56BC07;
}
@media only screen and (max-width: 400px) {
  .timerDisplay {
  font-size: 2.5em;
  }
}
